* {
    margin: 0;
    padding: 0;
}

body { 
    background: url('../images/obrazki_n_214076_galaktyka-andromeda-kosmos.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-my {
    background-image: linear-gradient(90deg, #5e6397 0%, #0a0712 40%)
}
